.graph {
    -webkit-box-shadow: 2px 4px 10px 1px hsla(0, 0%, 0%, 0.47);
    box-shadow: 2px 4px 10px 1px hsla(0, 0%, 79%, 0.47);
    border-radius: 7.5px;
    grid-column: span 2;
    padding: 0.625rem;

    .title {
        font-size: 1rem;
        font-weight: 500;
        color: hsl(0, 0%, 60%);
        margin-bottom: 1rem;
    }

    .chartGrid {
        stroke: rgb(228, 225, 225);
    }
}
