.graph {
    -webkit-box-shadow: 2px 4px 10px 1px hsla(0, 0%, 0%, 0.47);
    box-shadow: 2px 4px 10px 1px hsla(0, 0%, 79%, 0.47);
    border-radius: 7.5px;
    background-color: aqua;
    grid-column: span 2;
}
