.datatable {
    // height: 600px;
    // background-color: red;
    width: 100%;
    display: grid;
    place-items: center;

    // .datagrid {
    //     width: 95%;
    // }

    .cellWithImg {
        display: flex;
        align-items: center;

        img {
            height: 2rem;
            aspect-ratio: 1;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 0.75rem;
        }
    }

    .viewButton {
        // background-color: blanchedalmond;
        padding: 0.25rem 0.5rem;
        border: 1px solid hsl(253, 100%, 61%);
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            color: white;
            background-color: hsl(253, 100%, 61%);
            border: none;
        }
        &:active {
            background-color: white;
            color: black;
            border: 1px solid hsl(253, 100%, 61%);
        }
    }
}
