.home {
    display: flex;

    .homeContainer {
        width: 100%;
        // background-color: lightcoral;

        main {
            padding: 1.25rem;

            .widgets {
                gap: 1.25rem;
                margin-bottom: 1.25rem;
                // background-color: lightblue;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
            }
            .charts {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1.25rem;
            }
            .listContainer {
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                padding: 1.25rem;
                margin-top: 1.25rem;
                border-radius: 7.5px;

                .listTitle {
                    font-weight: 500;
                    color: gray;
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}
